/*--------------------------------------------------*/
/*----- Fernando Facio Reyes -- Gya-Contsulting ----*/
/*--------------------------------------------------*/


/*----------Inicio_Home----------*/
.container_Home {
    position: relative;
    height: 90vh;
    overflow: hidden;
}

/*__Boton__*/
#Container_BtnBlancoIniciarLE {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0%;
}

    #Container_BtnBlancoIniciarLE > .BtnBlanco {
        cursor: pointer;
        border: 0.1vw solid #ffffff;
        border-radius: 2vw;
        width: 20%;
        padding: 1.5%;
        font-size: .9vw;
        font-weight: 600;
        background-color: transparent;
        color: #ffffff;
        transition: 0.6s;
    }

        #Container_BtnBlancoIniciarLE > .BtnBlanco:hover {
            border: .1vw solid #ffffff;
            background-color: #ffffff;
            color: #000000;
        }

/*__Imagen__*/
.container_img_HomeFondo {
    width: 100%;
}

.img_HomeFondo {
    display: block;
    width: 100%;
}

/*__Texto__*/
.container_txt_Home {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt_Home {
    color: white;
    font-size: 0.9vw;
    margin-bottom: 1.2%;
    font-weight: 600;
    text-decoration: none;
}

    .txt_Home > div > h1 {
        text-align: center;
        font-weight: 600;
        font-size: 2.5vw;
        line-height: 3.6vw;
        padding: 0 0 0.3em;
    }
/*----------Fin_Home----------*/



/*----------Inicio_Que_Es----------*/
#QueEsLegado {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#Container_QueEsLe {
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_imgs_QueEs {
    position: relative;
    display: flex;
    justify-content: center;
    width: 45%;
    height: 100%;
}

/*__Imagenes__*/
.img_Legado2prueba {
    margin-top: 2.5%;
    height: 75%;
    border-radius: 100%;
}

.img_Legado3prueba {
    position: absolute;
    bottom: 0;
    right: 15%;
    height: 40%;
    border-radius: 100%;
}

/*__Texto__*/
#Container_textQueesLE {
    width: 65%;
    height: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
}

#textQueesLE {
    margin-right: 15%;
    color: #333333;
}

    #textQueesLE > h1 {
        margin-bottom: 2%;
        font-size: 2vw;
    }

    #textQueesLE > p {
        text-align: justify;
        font-size: 1vw;
    }
/*----------Fin_Que_Es----------*/



/*----------Inicio_Beneficios----------*/
#BeneficiosLE {
    height: 100%;
}

#Container_BeneficiosLE {
    position: relative;
    height: 99vh;
}

/*__Texto__*/
#Container_txt_Beneficios {
    position: relative;
    color: white;
    background-color: #2d2f2f;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title_BeneficiosLE {
    font-size: 1vw;
    z-index: 3;
    top: 10%;
    position: absolute;
}

#Container_txt_Beneficios .txtBenefi {
    margin: 25%;
    z-index: 2;
}

    #Container_txt_Beneficios .txtBenefi h3 {
        margin-bottom: 5%;
        font-size: 1vw;
    }

    #Container_txt_Beneficios .txtBenefi p {
        font-size: 0.9vw;
        margin-bottom: 10%;
    }

#Container_txt_Beneficios .Right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*__Imagen__*/
#Container_txt_Beneficios .Left {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../Resources/Imagen-Legado-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#BenefiFilter {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
/*----------Fin_Beneficios----------*/

/*----------Inicio_Vision----------*/
#Container_VisionUDEMLE {
    position: relative;
    height: 99vh;
}

#VisionUDEMLE {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#Container_txt_y_Btn_Vision {
    width: 50%;
}

    #Container_txt_y_Btn_Vision > .txt_y_Btn {
        margin-left: 25%;
    }

        #Container_txt_y_Btn_Vision > .txt_y_Btn > p {
            margin: 2.5% 0%;
        }
/*__Texto__*/
.degradado {
    text-transform: uppercase;
    font-family: "Anton", sans-serif;
    font-weight: 900;
    font-size: 5.21vw;
    background: linear-gradient(rgba(250, 156, 20, 1) 0%, rgba(255 231 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -0.4vw;
}

.txt_VisionUdem {
    font-size: 1.5vw;
}

/*__Boton__*/
.btn_Degradado {
    background: linear-gradient(45deg, rgba(250, 156, 20, 1) 0%, rgb(254 231 0) 100%);
    border: none !important;
    padding: 1vw !important;
    font-weight: 600;
    border-radius: 10vw;
    font-size: 1vw;
    color: #000;
}

    .btn_Degradado:hover {
        background: linear-gradient(45deg, rgba(253, 202, 49, 1) 0%, rgba(250, 156, 20, 1) 100%);
    }

/*__Imagenes__*/
#container_ImgVision {
    position: relative;
    display: flex;
    width: 50%;
    height: 70%;
}

    #container_ImgVision > .container_Visioncirculo1 {
        height: 70%;
        margin-left: 15%;
        z-index: 2;
    }

        #container_ImgVision > .container_Visioncirculo1 > img {
            height: 100%;
        }

    #container_ImgVision > .container_Vision2ciruclo_0 {
        height: 45%;
        z-index: 3;
        position: absolute;
        bottom: 0;
        right: 18.5%;
    }

        #container_ImgVision > .container_Vision2ciruclo_0 > img {
            height: 100%;
            border-radius: 50%;
        }

    #container_ImgVision > .container_Naranja4 {
        height: 35%;
        position: absolute;
        left: 5%;
        bottom: 8%;
        z-index: 1;
    }

        #container_ImgVision > .container_Naranja4 > img {
            height: 100%;
        }
/*----------Fin_Vision----------*/


/*----------Inicio_Certificados----------*/
#Container_ConoceMasLE {
    position: relative;
    height: 99vh;
}

#ConoceMasLE {
    height: 100%;
}
/*__Texto__*/
#Container_txt_ConoceMasLE {
    position: relative;
    color: white;
    background-color: #2d2f2f;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt_ConoceMas {
    z-index: 2;
    margin: 10%;
    width: 100%;
}

    .txt_ConoceMas h1 {
        border-bottom: 0.5vw solid white;
        margin: 5% 0%;
        padding: 2.5% 0%;
        font-size: 2.5vw;
    }

#Container_txt_ConoceMasLE .txt_ConoceMas p {
    margin: 5% 0%;
    padding-right: 10%;
    font-size: 1.5vw;
}
/*__Imagenes__*/
#Container_txt_ConoceMasLE .Right {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#Container_txt_ConoceMasLE .Left {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/*__Boton__*/
#Container_BtnBlanco > .BtnBlanco {
    cursor: pointer;
    border: 0.1vw solid #ffffff;
    border-radius: 2vw;
    width: 35%;
    padding: 2%;
    font-size: 1.10vw;
    font-weight: 600;
    background-color: transparent;
    color: #ffffff;
    transition: 0.6s;
}

    #Container_BtnBlanco > .BtnBlanco:hover {
        border: .1vw solid #ffffff;
        background-color: #ffffff;
        color: #000000;
    }
/*----------Fin_Certificados----------*/
