<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WebLegadoEducativo02.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.web>
    <sessionState mode="InProc" timeout="45"/>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
    <customErrors mode="Off"/>
  </system.web>
  <connectionStrings>
    <add name="Connect" connectionString=" AuthType=ClientSecret; Url=https://udemtest.crm.dynamics.com/; ClientId=303d4655-93c7-46dc-9a30-f94569b4fd84; ClientSecret=mqn8Q~TlO8dLNezgPThF9NvwwGqmcSE1ZKxX7bpK"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <!--Llave Recaptcha-->
    <!--Productivo-->
    <!--<add key="recaptchaKey" value="6Lcs_FYcAAAAAI5d9vShVb8XvwSv8X4noNKnzffT"/>-->
    <!--Test y desarrollo-->
    <!--<add key="recaptchaKey" value="6LeAZf4UAAAAACVaSKDdZuSiHU4mCW0Cvk8_rR_w" />-->
    <add key="SecretKey" value="6LcbpcAmAAAAAFGvforX_A2Kp-q8jrWf1DPEL-0u"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0"/>
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.3" newVersion="7.0.0.3"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <WebLegadoEducativo02.Properties.Settings>
      <setting name="WebLegadoEducativo02_WS_LE_ConClientePotencial_WS_LE_ConClientePotencial"
        serializeAs="String">
        <value>https://eventosudemtst.udem.edu.mx/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_ConClientePotencial.asmx</value>
      </setting>
      <setting name="WebLegadoEducativo02_WS_LE_ConsCP_WS_LE_ConsCP"
        serializeAs="String">
        <value>https://eventosudemtst.udem.edu.mx/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_ConsCP.asmx</value>
      </setting>
      <setting name="WebLegadoEducativo02_WS_LE_ConsEscuelaCuenta_WS_LE_ConsEscuelaCuenta"
        serializeAs="String">
        <value>https://eventosudemtst.udem.edu.mx/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_ConsEscuelaCuenta.asmx</value>
      </setting>
      <setting name="WebLegadoEducativo02_WS_LE_ConsNivelAcademico_WS_LE_ConsNivelAcademico"
        serializeAs="String">
        <value>https://eventosudemtst.udem.edu.mx/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_ConsNivelAcademico.asmx</value>
      </setting>
      <setting name="WebLegadoEducativo02_WS_LE_ConsUsuext_WS_LE_ConsUsuext"
        serializeAs="String">
        <value>https://eventosudemtst.udem.edu.mx/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_ConsUsuext.asmx</value>
      </setting>
      <setting name="WebLegadoEducativo02_WS_LE_ConsUnidadUDEM_WS_LE_ConsUnidadUDEM"
        serializeAs="String">
        <value>https://eventosudemtst.udem.edu.mx/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_ConsUnidadUDEM.asmx</value>
      </setting>
      <setting name="WebLegadoEducativo02_WS_LE_InsertaFamilia_WS_LE_InsertaFamilia"
        serializeAs="String">
        <value>https://eventosudemtst.udem.edu.mx/UDEMDESA/LegadoEducativo/WS_InsertaFamilia_LE/WS_LE_InsertaFamilia.asmx</value>
      </setting>
      <setting name="WebLegadoEducativo02_WS_LE_InsertaContactos_WS_LE_InsertaContactos"
        serializeAs="String">
        <value>https://eventosudemtst.udem.edu.mx/UDEMDESA/LegadoEducativo/WS_Contactos_LE/WS_LE_InsertaContactos.asmx</value>
      </setting>
      <setting name="WebLegadoEducativo02_WS_LE_InsertaDatosFiscalesContacto_WS_LE_InsertaDatosFiscalesContacto"
        serializeAs="String">
        <value>https://eventosudemtst.udem.edu.mx/UDEMDESA/LegadoEducativo/WS_DatosFiscalesContacto_LE/WS_LE_InsertaDatosFiscalesContacto.asmx</value>
      </setting>
      <setting name="WebLegadoEducativo02_WS_LE_Oportunidad_WS_LE_Oportunidad"
        serializeAs="String">
        <value>https://eventosudemtst.udem.edu.mx/UDEMDESA/LegadoEducativo/WS_Oportunidad_LE/WS_LE_Oportunidad.asmx</value>
      </setting>
      <setting name="WebLegadoEducativo02_WS_LE_ConsSolicitudCompra_WS_LE_ConsSolicitudCompra"
        serializeAs="String">
        <value>https://eventosudemtst.udem.edu.mx/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_ConsSolicitudCompra.asmx</value>
      </setting>
      <setting name="WebLegadoEducativo02_WS_LE_ConsFamiliaContacto_WS_LE_ConsFamiliaContacto"
        serializeAs="String">
        <value>https://eventosudemtst.udem.edu.mx/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_ConsFamiliaContacto.asmx</value>
      </setting>
      <setting name="WebLegadoEducativo02_WS_LE_ConsDatosFiscales_WS_LE_ConsDatosFiscales"
        serializeAs="String">
        <value>https://eventosudemtst.udem.edu.mx/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_ConsDatosFiscales.asmx</value>
      </setting>
      <setting name="WebLegadoEducativo02_WS_LE_ConsBeneficiario_WS_LE_ConsBeneficiario"
        serializeAs="String">
        <value>https://eventosudemtst.udem.edu.mx/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_ConsBeneficiario.asmx</value>
      </setting>
      <setting name="WebLegadoEducativo02_WS_LE_Beneficiarios_WS_LE_Beneficiarios"
        serializeAs="String">
        <value>https://eventosudemtst.udem.edu.mx/UDEMDESA/LegadoEducativo/WS_Beneficiarios_LE/WS_LE_Beneficiarios.asmx</value>
      </setting>
      <setting name="WebLegadoEducativo02_WS_LE_ConsultaContac_WS_LE_ConsultaContac"
        serializeAs="String">
        <value>https://eventosudemtst.udem.edu.mx/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_ConsultaContac.asmx</value>
      </setting>
      <setting name="WebLegadoEducativo02_WS_LE_ConsProducto_WS_LE_ConsProducto"
        serializeAs="String">
        <value>https://eventosudemtst.udem.edu.mx/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_ConsProducto.asmx</value>
      </setting>
      <setting name="WebLegadoEducativo02_WS_LE_ListaDePrecios_WS_LE_ListaDePrecios"
        serializeAs="String">
        <value>https://eventosudemtst.udem.edu.mx/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_ListaDePrecios.asmx</value>
      </setting>
      <setting name="WebLegadoEducativo02_WS_LE_ConsOferta_WS_LE_ConsOferta"
        serializeAs="String">
        <value>https://eventosudemtst.udem.edu.mx/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_ConsOferta.asmx</value>
      </setting>
      <setting name="WebLegadoEducativo02_WS_LE_ProgramaAcademico_WS_LE_ProgramaAcademico"
        serializeAs="String">
        <value>https://eventosudemtst.udem.edu.mx/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_ProgramaAcademico.asmx</value>
      </setting>
      <setting name="WebLegadoEducativo02_WS_LE_ConsProductOferta_WS_LE_ConsProductOferta"
        serializeAs="String">
        <value>https://eventosudemtst.udem.edu.mx/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_ConsProductOferta.asmx</value>
      </setting>
      <setting name="WebLegadoEducativo02_WS_LE_ConsFuenteLead_WS_LE_ConsFuenteLead"
        serializeAs="String">
        <value>https://eventosudemtst.udem.edu.mx/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_ConsFuenteLead.asmx</value>
      </setting>
      <setting name="WebLegadoEducativo02_WS_LE_InsUsuarioExterno_WS_LE_InsUsuarioExterno"
        serializeAs="String">
        <value>https://eventosudemtst.udem.edu.mx/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_InsUsuarioExterno.asmx</value>
      </setting>
      <setting name="WebLegadoEducativo02_WS_LE_Documentos_WS_LE_Documentos"
        serializeAs="String">
        <value>httpS://eventosudemtst.udem.edu.mx/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_Documentos.asmx</value>
      </setting>
      <setting name="WebLegadoEducativo02_WS_LE_InsertaClientePotencial_WS_LE_InsertaClientePotencial"
        serializeAs="String">
        <value>https://eventosudemtst.udem.edu.mx/UDEMDESA/LegadoEducativo/WS_ClientePotencial_LE/WS_LE_InsertaClientePotencial.asmx</value>
      </setting>
      <setting name="WebLegadoEducativo02_WS_LE_InsertaSolicitudCom_WS_LE_InsertaSolicitudCom"
        serializeAs="String">
        <value>https://eventosudemtst.udem.edu.mx/UDEMDESA/LegadoEducativo/WS_SolicitudCompra_LE/WS_LE_InsertaSolicitudCom.asmx</value>
      </setting>
      <setting name="WebLegadoEducativo02_WS_LE_Cotizaciones_WS_LE_Cotizaciones"
        serializeAs="String">
        <value>https://eventosudemtst.udem.edu.mx/UDEMDESA/LegadoEducativo/WS_Cotizaciones_LE/WS_LE_Cotizaciones.asmx</value>
      </setting>
    </WebLegadoEducativo02.Properties.Settings>
  </applicationSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </compilers>
  </system.codedom>
</configuration>
