
.Container_Btn_Testimonios {
    display: flex;
    justify-content: center;
    margin: 2%;
    width: 3vw;
    height: 3vw;
}

    .Container_Btn_Testimonios .Btn_Testimonios {
        width: 100%;
        border: 0.1vw solid black;
        border-radius: 50%;
        color: #000;
        cursor: pointer;
        font-size: 1.5vw;
        background-color: transparent;
    }

        .Container_Btn_Testimonios .Btn_Testimonios:hover {
            background-color: rgba(0, 0, 0, 0.15);
        }

#Container_Slider_Testimonios {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5% 0% 10% 0%;
}

#Slider_Testimonios {
    z-index: 1;
    position: relative;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*__Carta__*/

#Container_card_Testimonios {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40%;
}

#card_Testimonios {
    position: relative;
    padding: 0% 7%;
    height: 100%;
    width: 100%;
    background-color: #fff500;
    clip-path: polygon(4vw 0%, 100% 0, 100% 4vw, 100% 100%, 0 100%, 0% 4vw);
}

    #card_Testimonios .Comilla {
        z-index: 0;
        width: 25%;
        height: 25%;
    }

        #card_Testimonios .Comilla h1 {
            display: block;
            font-size: 15vw;
            color: black;
        }

.container_Txt_Testimonios {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 65%;
}

.Txt_Testimonios {
    margin-top: 5%;
    font-style: italic;
    color: #000;
    font-size: 1.5vw;
    width: 100%;
}

.container_cliente {
    padding: 2% 0%;
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    border-bottom: 0.2vw solid black;
}

.cliente_Testimonios {
    width: 40%;
    font-style: italic;
    color: #000;
    font-size: 1.5vw;
}

#card_Testimonios .Esquina {
    height: 3.7vw;
    width: 3.7vw;
    top: 0;
    left: 0;
    position: absolute;
    border: 0.2vw solid #ccc502;
    background-color: #e2db02;
    clip-path: polygon(4vw 0%, 100% 0, 100% calc(100% - 4vw), 100% 100%, 0 100%, 0% 4vw);
}

#Container_testimoniosLE {
    background-color: #f5f5f5;
    position: relative;
    display: flex;
}

#testimoniosLE > .title_Testimonios {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
    font-size: 2vw;
}

/*__Video_01__*/
#container_VideoTesti {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    #container_VideoTesti > .video {
        box-shadow: 0px 0px 1.5vw 0px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0px 0px 1.5vw 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 1.5vw 0px rgba(0, 0, 0, 0.5);
        width: 50%;
        margin: 0% 5%;
    }

        #container_VideoTesti > .video > video {
            display: block;
            width: 100%;
        }

/*__Video_02__*/
#container_VideoTesti02 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

    #container_VideoTesti02 > video {
        width: 60%;
        margin: 5% 10%;
    }
